language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.3
  - 2.2.0
env:
  - DB=sqlite
  - DB=mysql
  - DB=postgresql
cache: bundler
before_script:
  - RAILS_ENV=test bundle exec rake db:create db:schema:load
script:
  - RAILS_ENV=test bundle exec rake test
