language: ruby
rvm:
  - 2.2.1
env:
  - DB=postgresql
addons:
  postgresql: "9.3"
cache: bundler
#before_script:
#  - psql -c 'create database qna_travis_ci_test;' -U postgres
#  - cp config/database.yml.travis config/database.yml
#  - RAILS_ENV=test bundle exec rake db:migrate
#script:
#  - RAILS_ENV=test bundle exec rspec spec/
script: 
  - bundle exec rake db:schema:load RAILS_ENV=test
  - bundle exec rspec
before_script:
  - psql -c 'create database qna_travis_ci_test;' -U postgres
  - bundle exec rackup private_pub.ru -s thin -E production &
  - sleep 3
