<% if @comment.errors.present? %>
  <% @comment.errors.full_messages.each do |message| %>
    $('.comment-errors').html('<div class="alert alert-danger"><%= j message %></div>');
  <% end %>
<% end %>