@import 'bootstrap-sprockets';
@import 'bootstrap';

/* navbar */

.navbar-btn {
  margin-left: 8px;
}

.navbar-inverse .navbar-text {
  color: white;
}

.navbar-text {
  margin-left: 8px;
}

.alert {
  margin-top: 10px;
}

.right-banner {
  background-color: #f0ad4e;
  height: 300px;
  color: #fff;
  text-align: center;
}

.right-banner p {
  padding-top: 50px;
  color: #fff;
}

.right-banner a {
  color: #fff;
}