@import 'bootstrap-sprockets';
@import 'bootstrap';

/* navbar */

.navbar-btn {
  margin-left: 8px;
}

.navbar-inverse .navbar-text {
  color: white;
}

.navbar-text {
  margin-left: 8px;
}

.alert {
  margin-top: 10px;
}

.center {
  text-align: center;
}

.float_left {
  float: left;
}
