
h1 На данный момент вопросов нет
p Если вы хотите побольше узнать о приложении обратитесь к странице #{link_to 'FAQ', pages_about_path, method: :get}
/= markdown("~~~ruby\ngem 'rails', '~> 4.2'\ngem 'sass-rails', '~> 5.0'\ngem 'uglifier', '>= 1.3.0'\ngem 'coffee-rails', '~> 4.1.0'v\ngem 'jquery-rails'\ngem 'turbolinks'\ngem 'jbuilder', '~> 2.0'\n~~~")
